<a href="https://colab.research.google.com/github/TylerJSimpson/python_programming_projects/blob/main/BS4%20Scraping%20Tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scrape HTML tables 
## BeautifulSoup and Pandas

##Setup

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
base_site = "https://en.wikipedia.org/wiki/List_of_national_capitals_by_population"

In [ ]:
r = requests.get(base_site)

In [ ]:
html = r.content

##Extracting tables

In [ ]:
#obtain column with the capitals
soup = BeautifulSoup(html, "lxml")

In [ ]:
#search for all tables in the document
table = soup.find_all("table")[1]

In [ ]:
#<th>Capital</th> 
#th refers to table heading (column)
table.find_all("tr")[0].contents

['\n',
 <th>Country (or territory)</th>,
 '\n',
 <th>Capital</th>,
 '\n',
 <th>Population</th>,
 '\n',
 <th style="max-width:4em">% of country</th>,
 '\n',
 <th>Source
 </th>]

In [ ]:
#take 3rd element of every row
capitals = [row.contents[3].text for row in table.find_all("tr")]
capitals
#this is difficult. Use pandas as below

['Capital',
 ' Beijing',
 ' Tokyo',
 ' Kinshasa',
 ' Moscow',
 ' Jakarta',
 ' Cairo',
 ' Seoul',
 ' Mexico City',
 ' London',
 ' Dhaka',
 ' Lima',
 ' Tehran',
 ' Bangkok',
 ' Hanoi',
 ' Baghdad',
 ' Riyadh',
 ' Hong Kong',
 ' Bogotá',
 ' Santiago',
 ' Ankara',
 ' Singapore',
 ' Kabul',
 ' Nairobi',
 ' Amman',
 ' Algiers',
 ' Berlin',
 ' Madrid',
 ' Addis Ababa',
 ' Kuwait City',
 ' Guatemala City',
 ' Pretoria',
 ' Kyiv',
 ' Buenos Aires',
 ' Pyongyang',
 ' Tashkent',
 ' Rome',
 ' Quito',
 ' Yaoundé',
 ' Lusaka',
 ' Khartoum',
 ' Brasília',
 ' Taipei (de facto)',
 ' Sanaa',
 ' Luanda',
 ' Ouagadougou',
 ' Accra',
 ' Mogadishu',
 ' Baku',
 ' Phnom Penh',
 ' Caracas',
 ' Bucharest',
 ' Paris',
 ' Havana',
 ' Harare',
 ' Damascus',
 ' Minsk',
 ' Vienna',
 ' Manila',
 ' Bamako',
 ' Warsaw',
 ' Kuala Lumpur',
 ' Budapest',
 ' Brazzaville',
 ' Belgrade',
 ' Kampala',
 ' Conakry',
 ' Ulaanbaatar',
 ' Tegucigalpa',
 ' Dakar',
 ' Niamey',
 ' Montevideo',
 ' Sofia',
 ' Muscat',
 ' Prague',
 ' Antananarivo',
 ' Nur-Sultan',
 ' Abuja',
 ' Tbilisi',
 ' Nouakchott',
 ' Doha',
 ' Tripoli',
 ' Naypyidaw',
 ' Kigali',
 ' Maputo',
 ' Santo Domingo',
 ' Yerevan',
 ' Bishkek',
 ' Freetown',
 ' Managua',
 ' Ottawa',
 ' Islamabad',
 ' Monrovia',
 ' Abu Dhabi',
 ' Lilongwe',
 ' Port-au-Prince',
 ' Stockholm',
 ' Asmara',
 ' Jerusalem[a]',
 ' Vientiane',
 " N'Djamena",
 ' Amsterdam',
 ' Bangui',
 ' Panama City',
 ' Dushanbe',
 ' Kathmandu',
 ' Lomé',
 ' Ashgabat',
 ' Chişinău',
 ' Zagreb',
 ' Libreville',
 ' Oslo',
 ' Macau',
 ' Washington, D.C.',
 ' Athens',
 ' Kingston',
 ' Helsinki',
 ' Tunis',
 ' Copenhagen',
 ' Riga',
 ' Djibouti (city)',
 ' Rabat',
 ' San Salvador',
 ' Vilnius',
 ' Tirana',
 ' Dublin',
 ' Skopje',
 ' Juba',
 ' Asunción',
 ' Lisbon',
 ' Bissau',
 ' Bratislava',
 ' Tallinn',
 ' Canberra',
 ' Windhoek',
 ' Dodoma',
 ' Port Moresby',
 ' Yamoussoukro',
 ' Beirut',
 ' Sucre',
 ' San Juan',
 ' San José',
 ' Maseru',
 ' Nicosia',
 ' Malabo',
 ' Ljubljana',
 ' Dili',
 ' Sarajevo',
 ' Nassau',
 ' Gaborone',
 ' Porto-Novo',
 ' Paramaribo',
 ' New Delhi',
 ' Laayoune (claimed)Tifariti (de facto)\n',
 ' Wellington',
 ' Manama',
 ' Pristina',
 ' Podgorica',
 ' Brussels',
 ' Praia',
 ' Port Louis',
 ' Willemstad',
 ' Gitega',
 ' Bern (de facto)',
 ' Tiraspol',
 ' Malé',
 ' Reykjavík',
 ' Luxembourg City',
 ' Georgetown',
 ' Thimphu',
 ' Moroni',
 ' Bridgetown',
 ' Sri Jayawardenepura Kotte',
 ' Bandar Seri Begawan',
 ' Mbabane',
 ' Nouméa',
 ' Suva',
 ' Honiara',
 ' Stepanakert',
 ' Banjul',
 ' São Tomé',
 ' Tarawa',
 ' Port Vila',
 ' Saipan',
 ' Apia',
 ' Ramallah (de facto)',
 ' Monaco',
 ' Saint Helier',
 ' Port of Spain',
 ' George Town',
 ' Gibraltar',
 " St. George's",
 ' Oranjestad',
 ' Douglas',
 ' Majuro',
 ' Nukuʻalofa',
 ' Victoria',
 ' Papeete',
 ' Andorra la Vella',
 ' Tórshavn',
 " St. John's",
 ' Belmopan',
 ' Castries',
 ' Saint Peter Port',
 ' Nuuk',
 ' Roseau',
 ' Basseterre',
 ' Kingstown',
 ' Road Town',
 ' Mariehamn',
 ' Charlotte Amalie',
 ' Palikir',
 ' Funafuti',
 ' Valletta',
 ' Vaduz',
 ' Saint-Pierre',
 ' Avarua',
 ' City of San Marino',
 ' Cockburn Town',
 ' Pago Pago',
 ' Marigot',
 ' Gustavia',
 ' Stanley',
 ' Longyearbyen',
 ' Philipsburg',
 ' Flying Fish Cove',
 ' The Valley',
 ' Hagåtña',
 ' Mata Utu',
 ' Hamilton',
 ' Yaren (de facto)',
 ' Jamestown',
 ' Alofi',
 ' Atafu',
 ' Vatican City (city-state)',
 ' Brades (de facto)Plymouth (de jure)',
 ' Ngerulmud',
 ' West Island',
 ' Adamstown',
 ' King Edward Point',
 ' Kingston[b] (de facto)']

##Utilizing Pandas

In [ ]:
import pandas as pd

In [ ]:
tables = pd.read_html(base_site)

In [ ]:
type(tables[0])

pandas.core.frame.DataFrame

In [ ]:
len(tables)

4

In [ ]:
tables[1]

,Country (or territory),Capital,Population,% of country,Source
0,China *,Beijing,21542000.0,NaN,[1] 2010
1,Japan *,Tokyo,13921000.0,NaN,[2] 2019
2,DR Congo,Kinshasa,12691000.0,NaN,[3] 2017
3,Russia *,Moscow,12655050.0,NaN,[4] 2021
4,Indonesia *,Jakarta,10562088.0,NaN,[5] 2020
...,...,...,...,...,...
235,Palau,Ngerulmud,271.0,NaN,2010
236,Cocos (Keeling) Islands (Australia),West Island,134.0,NaN,2011
237,Pitcairn Islands (UK),Adamstown,40.0,100%,2021
238,South Georgia and the South Sandwich Islands (UK),King Edward Point,22.0,NaN,2018
239,Norfolk Island (Australia),Kingston[b] (de facto),NaN,NaN,NaN

In [ ]:
tables[1].columns

Index(['Country (or territory)', 'Capital', 'Population', '% of country',
       'Source'],
      dtype='object')

In [ ]:
pd.read_html(base_site, attrs = {"class": "navbox"})

ValueError: ignored